trigger:
- main

variables:
  acrName: cicdRegistry111
  imageName: webapp
  tag: $(Build.BuildId)

stages:
# ================= BUILD STAGE =================
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        containerRegistry: acr-connection
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: docker/Dockerfile
        tags: |
          $(tag)
          latest

# ================= DEPLOY STAGE =================
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      vmImage: ubuntu-latest

    steps:
    - task: AzureCLI@2
      displayName: Deploy to AKS
      inputs:
        azureSubscription: azure-connection
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az aks get-credentials \
            --resource-group cicdgroup \
            --name cicd-aks \
            --overwrite-existing

          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
